 .navbar-logo{
    max-width: 200px;
        /* The image won't exceed 100px */
        height: auto;
        /* And will scale down if container is smaller */
        display: block;
 }
 .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
 }
 .nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
 }